/* @import "~@angular/material/theming";
@import "../../../custom-theme.scss ";


  .details-container{
    max-width: $content-width;
    margin: auto;
    padding: 20px 50px;

    border: {
      color: #dad7d7;
      style: solid;
      width: 0px 1px;
    }

    .card{
      @include mat-elevation(24);
      border-radius: 10px;


    }
    strong{
      text-transform: capitalize;
    }
    .title{
      h3{
        margin: 0;
        padding : {
          top: 8px;
          bottom: 8px;
        }
        border: {
          color: #dad7d7;
          style: solid;
          width: 0 0 1px 0;

        }
      }

      p{
        border-bottom: 1px solid #e2dede;
        margin: 0 0 50px 0;
        padding : {
          top: 4px;
          bottom: 4px;
        }
      }
    }

    .details-image{
      width: 300px;
      margin: auto;

      .mat-card{
        @include mat-elevation(24);
        padding: 2px;
        height: 430px;
      background-color: #e1e1e1;

        .card-body{
          padding: 0;

          img{
            border-radius: 2px;
          }
        }
      }
    }

  .storyline{
    margin: 30px auto;

  }

  .tab-content {
    margin: 16px;
    padding: 16px;

  }
  .download{
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button{
      @include mat-elevation(2);
      margin-bottom:8px;
      &:hover{
        @include mat-elevation-transition;
        @include mat-elevation(8);
      }
        &:active{
        @include mat-elevation(8);
      }
    }
  }

  .general{
    @extend .tab-content;
    border: {
      color: #dad7d7;
      style: solid;
      width: 1px 0px;

    }
  }

  .props{
    margin-bottom: 100px;

    h4{
      text-align: center;

    }
  }

 p.magnet{
   overflow: scroll;
 }
}

mat-expansion-panel{
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-accordion{
 ::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

 ::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: mat-color($light-primary);
    border: 2px solid #555555;
  }


}
 */