@import "~@angular/material/theming";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../custom-theme.scss ";


span {
    font-size: 1rem;
    line-height: 1.5;
}


.details-container {
    max-width: $content-width;
    margin: auto;
    padding: 20px 30px;

    border: {
        style: solid;
        width: 0px 1px;
        color: $border-color;
    }

    .details-image {

        .mat-card {
            @include mat-elevation(20);

            .card-body {
                padding: 0;
            }
        }
    }
    strong {
        text-transform: capitalize;
    }
    .title {
        h3 {

            margin: 0;
            padding: {
                top: 5px;
                bottom: 5px;
            }
            border: {
                style: solid;
                width: 0 0 1px 0;
                color: $border-color;
            }
        }

        p {
            font-size: .875rem;
            letter-spacing: .01786em;
            border-bottom: 1px solid $border-color;
            margin: 0 0 50px 0;
            padding: {
                top: 4px;
                bottom: 4px;
            }
        }
    }

    .details-image {
        @include mat-elevation(24);
        width: 16rem;
        margin: auto;

        mat-card {
            width: inherit;
            margin: 0;
            padding: 0;

            img {
                height: inherit;
                border-radius: inherit;
                width: inherit;
            }
        }

    }

    .storyline {
        margin: 30px auto;
    }
    mat-card.screenshots-card {
        margin: 0;
        padding: 0;
    }
    .screenshots {
        display: flex;
        flex-direction: row;

        img {
            width: 50%;
            &:last-child {
                margin-left: 5px;
            }
        }
    }
    .tab-content {
        margin: 5px 16px;
        padding: 16px;

        .cat {
            display: grid;
            grid-template-columns: 50% 50%;


        }

    }
    .download {
        margin: 10px auto;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;

        .button {
            a {
                @include mat-elevation(2);
                margin-bottom: 8px;
                &:hover {
                    @include mat-elevation-transition;
                    @include mat-elevation(8);
                }
                &:active {
                    @include mat-elevation(8);
                }
            }
        }
    }

    .general {
        margin: 16px;
        padding: 16px;
        display: grid;
        grid-template-columns: 50% 50%;

        border: {
            style: solid;
            width: 1px 0px;
            color: $border-color;
        }
        .cat-1 {
            a {
                cursor: pointer;
                color: mat-color($primary);
                &:hover {
                    color: darken($color: mat-color($primary), $amount: 5%);
                    transition: 0.3s;
                }
            }
        }

    }

    .props {
        margin-bottom: 100px;

        h4 {
            text-align: center;

        }
    }

    p.magnet {
        overflow: scroll;
    }

    .tabs {
        margin-top: 25px;

        h4 {
            margin-bottom: 0;
        }
    }

}
