<div id="details-page">
  <div *ngIf="false" class="errorHandler">
    <h1>
      An error occured
    </h1>
    <button mat-raised-button color="accent" (click)="getmoviedetails()">RETRY</button>
  </div>

  <!-- show spinner here -->
  <app-spinner *ngIf="loading"></app-spinner>

  <mat-card class="main-card" *ngIf="!loading">
    <div class="details-container animated fadeInLeft">

      <div class="details-image">
        <mat-card>
          <img class="card-img-top" src="{{movieDetails.large_cover_image}}" alt="image not found">
        </mat-card>
      </div>

      <div class="flex-flow">

        <div class="title-head">
          <h1>{{movieDetails.title_english}}</h1> <span class="year">({{movieDetails.year}})</span>

          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;

              </span>
            </ng-template>
            <ngb-rating [rate]="movieDetails.rating*5/10" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

          </div>

          <div class="runtime">
            <mat-icon>query_builder</mat-icon>
            <p>{{movieDetails.runtime |duration}}</p>
          </div>



          <mat-chip-list>
            <mat-chip *ngFor="let item of movieDetails.genres">{{item}}</mat-chip>
          </mat-chip-list>

          <div class="download-button">
            <button  mat-button>DOWNLOAD</button>
            <button mat-button>WATCH TRAILER</button>
          </div>
        </div>

      </div>
    </div>

    <mat-card class="properties">

      <mat-tab-group mat-stretch-tabs class="tab-group">
        <mat-tab label="INFO">
          <div class="container">
            <p class="body">
              <strong>Storyline:</strong> {{movieDetails.description_intro}} </p>
          </div>
        </mat-tab>

        <mat-tab label="SCREENSHOTS">
          <div *ngIf="movieDetails.medium_screenshot_image1">
            <mat-card class="screenshots-card">
              <div class="screenshots">
                <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
                <img src="{{movieDetails.medium_screenshot_image2}}" alt="">
                <!-- <img src="{{movieDetails.medium_screenshot_image3}}" alt=""> -->
              </div>
            </mat-card>
          </div>
        </mat-tab>


        <mat-tab label="MEDIA">
          <div class="general container">

            <div class="cat-1">

              <p>
                <strong>Language: </strong>
                <span>{{movieDetails.language}} </span>
              </p>
              <p>
                <strong>subtitles: </strong>
                <span>
                  <a (click)="opensubtitle(movieDetails.imdb_code)">Here</a>
                </span>
              </p>

              <p>
                  <strong>released: </strong>
                  <span>{{movieDetails.date_uploaded}} </span>
                </p>

            </div>

            <div class="cat-2">


              <p>
                <strong>runtime: </strong>
                <span>{{movieDetails.runtime | duration }} </span>
              </p>

              <p>
                <strong>MPAA rating: </strong>
                <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : 'N/A'}} </span>
              </p>
              <p>
                <strong>downloaded: </strong>
                <span>{{movieDetails.download_count}} </span>
              </p>

            </div>

          </div>
        </mat-tab>

        <mat-tab label="CAST">
          <div class="container">
            <div class="row">
              <div class="col" *ngFor="let item of movieDetails.cast">
               <div><img [src]="item.url_small_image" alt=""></div>
                <p>{{item.name}}</p>
                <p class="small">as</p>
                <P>{{item.character_name}}</P>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>

  </mat-card>


</div>

<!-- <div class="tabs">
        <h4>Download</h4>
        <mat-tab-group mat-stretch-tabs>
          <div *ngFor="let item of movieDetails.torrents">
            <mat-tab label="{{item.quality}}">
              <div class="tab-content ">
                <div class="cat ">
                  <div class="cat-1 ">
                    <p>
                      <strong>provider: </strong>
                      <span>YTS</span>
                    </p>
                    <p>
                      <strong>filesize: </strong>
                      <span>{{item.size}}</span>
                    </p>
                    <p>
                      <strong>quality: </strong>
                      <span>{{item.quality}} </span>
                    </p>
                  </div>

                  <div class="cat-2 ">
                    <p>
                      <strong>date uploaded: </strong>
                      <span>{{item.date_uploaded}} </span>
                    </p>
                    <p>
                      <strong>seeds: </strong>
                      <span>{{item.seeds}}</span>
                    </p>
                    <p>
                      <strong>peers: </strong>
                      <span>{{item.peers}}</span>
                    </p>
                  </div>
                </div>

                <div class="download">
                  <div class="button">
                    <a class="animated fadeInUp" mat-fab href="{{item.url}}" (click)="openSnackBar(movieDetails.title_long , item.quality )"
                    color="primary">
                      <mat-icon>file_download</mat-icon>
                    </a>
                  </div>
                </div>

              </div>
            </mat-tab>
          </div>


        </mat-tab-group>

      </div> -->
