<!-- <div id="details-page">
  <button mat-icon-button id="btn-close" (click)="closeMe()" ><mat-icon>close</mat-icon></button>


<app-spinner *ngIf="loading"></app-spinner>

  <mat-card class="main-card animated fadeInDown" *ngIf="movieDetails">
    <div class="details-container animated fadeInLeft">

      <div class="details-image">
        <mat-card>
          <img class="card-img-top" onerror="this.src='./assets/placeholder.movie.png'" src="{{movieDetails.large_cover_image}}" alt="image not found">
        </mat-card>
      </div>

      <div class="flex-flow">

        <div class="title-head">
          <h1></h1>
          <span class="year">({{movieDetails.year}})</span>

          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;

              </span>
            </ng-template>
            <ngb-rating [rate]="movieDetails.rating*5/10" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            <span class="value">{{movieDetails.rating}}</span> <span class="small">/10 RATING</span>
          </div>

          <div class="runtime">
            <mat-icon>query_builder</mat-icon>
            <p>{{movieDetails.runtime |duration}}</p>
          </div>



          <mat-chip-list>
            <mat-chip *ngFor="let item of movieDetails.genres">{{item}}</mat-chip>
          </mat-chip-list>

          <div class="download-button">
            <button (click)="openDialog(movieDetails.torrents)"  mat-raised-button>DOWNLOAD <mat-icon>file_download</mat-icon> </button>
          </div>
        </div>

      </div>
    </div>

    <mat-card class="properties">

      <mat-tab-group mat-stretch-tabs class="tab-group">
        <mat-tab label="INFO">
          <div class="container">
            <p class="body">
              <strong>Storyline:</strong> {{movieDetails.description_intro | shorten: 430: ' ...'}} </p>
          </div>
        </mat-tab>

        <mat-tab label="SCREENSHOTS" *ngIf="movieDetails.medium_screenshot_image1">
          <div *ngIf="movieDetails.medium_screenshot_image1">
            <mat-card class="screenshots-card">
              <div class="screenshots">
                <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
                <img src="{{movieDetails.medium_screenshot_image2}}" alt="">

              </div>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab  label="MEDIA">
          <div class="general container">

            <div class="cat-1">

              <p>
                <strong>Language: </strong>
                <span>{{movieDetails.language}} </span>
              </p>
              <p>
                <strong>subtitles: </strong>
                <span>
                  <a (click)="openSubtitle(movieDetails.imdb_code)">Here</a>
                </span>
              </p>

              <p>
                  <strong>Uploaded: </strong>
                  <span>{{movieDetails.date_uploaded}} </span>
                </p>

            </div>

            <div class="cat-2">


              <p>
                <strong>runtime: </strong>
                <span>{{movieDetails.runtime | duration }} </span>
              </p>

              <p>
                <strong>MPAA rating: </strong>
                <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : 'N/A'}} </span>
              </p>
              <p>
                <strong>downloaded: </strong>
                <span>{{movieDetails.download_count}} </span>
              </p>

            </div>

          </div>
        </mat-tab>

        <mat-tab label="CAST" *ngIf="movieDetails.cast">
          <div class="container cast">
            <div class="row">
              <div class="col" *ngFor="let item of movieDetails.cast">
               <div class="placeholder"><img [src]="item.url_small_image" alt=""></div>
                <p>{{item.name}}</p>
                <p class="small">as</p>
                <P class="cast-sub-text">{{item.character_name}}</P>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>

  </mat-card>


</div> -->


<div class="main-flow-control">
  <mat-tab-group class="main-tab" mat-align-tabs="center" dynamicHeight>
    <mat-tab class="summary" label="SUMMARY">


      <app-spinner *ngIf="loading"></app-spinner>

      <!-- error handler -->
      <mat-card *ngIf="errorState" class="error-card errorHandler">
        <mat-card-content>
          <div>
            <h1>
              An error occured
            </h1>
            <button mat-raised-button color="accent" (click)="getmoviedetails()">RETRY</button>
          </div>
        </mat-card-content>
      </mat-card>


      <div *ngIf="movieDetails" class="container details">
        <!-- movie image -->
        <div class="image ">
          <img class="card-img-top" onerror="this.src='./assets/placeholder.movie.png'"
            src="{{movieDetails.large_cover_image}}" alt="image not found">
        </div>

        <!-- movie content -->
        <div class="content ">

          <h1>{{movieDetails.title_english|scan:'&'}} <span class="year small">{{movieDetails.year}}</span></h1>

          <p class="meta">
            <span>{{movieDetails.language}} | </span>
            <!-- <span>{{movieDetails.date_uploaded}} | </span> -->
            <span>{{movieDetails.runtime | duration }} | </span>
            <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : ''}} | </span>
            <span>{{movieDetails.download_count}} downloads</span>
          </p>

          <div class="genre">
            <mat-chip-list>
              <mat-chip *ngFor="let item of movieDetails.genres">
                {{ item }}
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="rating">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill"><i class="mat-icon star_rate"></i></span>&#9733;
              </span>
            </ng-template>
            <ngb-rating [rate]="movieDetails.rating*5/10" [starTemplate]="t" [readonly]="true" max="5">
            </ngb-rating>
            <div class="imdb">
              <span>imdb <span class="nb">{{movieDetails.rating}}</span></span>
            </div>

          </div>

          <div class="container">
            <p class="body">
              {{movieDetails.description_intro | shorten: 430: ' ...'}}
            </p>
          </div>

          <div class="buttons">
            <button (click)="openDialog(movieDetails.torrents)" mat-raised-button>
              Free Download <mat-icon>file_download</mat-icon>
            </button>

            <button (click)="openDialog(movieDetails.torrents)" mat-raised-button>
              Buy Online <mat-icon>shoping_cart</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </mat-tab>

    <!-- trailler -->
    <mat-tab *ngIf="trailer" class="trailer" label="TRAILER">

      <div class="trailer2">
        <iframe *ngIf="trailer" [src]="trailer" frameborder="0"></iframe>
      </div>

    </mat-tab>

    <!-- simillar movies -->
    <mat-tab label="CASTS & SCREENSHOTS">

      <div class="cast-tab">
        <div *ngIf="movieDetails.cast[0]" class="container cast">
         
          <div class="row">
            <div class="col" *ngFor="let item of movieDetails.cast[0]">
              <div class="placeholder"><img [src]="item.url_small_image" alt=""></div>
              <p>{{item.name}}</p>
              <p class="small">as</p>
              <P class="cast-sub-text">{{item.character_name}}</P>
            </div>
          </div>
        </div>


        <div *ngIf="movieDetails.medium_screenshot_image1" class=" container ">

          <div class="screenshots">
            <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
            <img src="{{movieDetails.medium_screenshot_image2}}" alt="">
            <!-- <img src="{{movieDetails.medium_screenshot_image3}}" alt=""> -->
          </div>

        </div>

      </div>
    </mat-tab>

    <!-- simillar movies -->
    <mat-tab label="SIMILAR MOVIES">

    </mat-tab>
  </mat-tab-group>

  <div class="cover">
    <img class="bg-image" [src]="coverImg" alt="" />
    <!-- <img class="bg-image" [src]="setBackground(showDetails.images.fanart)" alt="" /> -->
  </div>

  <div id="btn-close">
    <button (click)="dialogRef.close()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
