<div id="details-page">
  <div *ngIf="false" class="errorHandler">
    <h1>
      An error occured
    </h1>
    <button mat-raised-button color="accent" (click)="getmoviedetails()">RETRY</button>
  </div>
  
  <!-- show spinner here -->
  <app-spinner *ngIf="false"></app-spinner>
  
<mat-card class="main-card">
  <div class="details-container animated fadeInLeft" *ngIf="true">
  
    <div class="details-image">
    <mat-card>
       <!-- <img class="card-img-top" src="{{movieDetails.large_cover_image}}" alt="image not found"> -->
         <img class="card-img-top" src="../../../assets/large-cover.jpg" alt="image not found">
    </mat-card>
    </div>
  
    <div class="flex-flow">
    <mat-tab-group >

      <mat-tab label="INFO">
        <!-- <div class="storyline">
          <mat-card>
              <p class="body">
                  <strong>Storyline:</strong> {{movieDetails.description_intro}} </p>
            </mat-card>
        </div> -->
      </mat-tab>

      <mat-tab label="SCREENSHOTS">
          <!-- <div *ngIf="movieDetails.medium_screenshot_image1">
              <h4>Screenshots</h4>
              <mat-card class="screenshots-card">
                <div class="screenshots">
                <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
                <img src="{{movieDetails.medium_screenshot_image2}}" alt="">
                <img src="{{movieDetails.medium_screenshot_image3}}" alt="">
              </div>
              </mat-card>
            </div> -->
      </mat-tab>


      <mat-tab label="MEDIA">
          <!-- <div class="general">

              <div class="cat-1">
                <p>
                  <strong>title: </strong>
                  <span>{{movieDetails.title_english}} </span>
                </p>
                <p>
                  <strong>year: </strong>
                  <span>{{movieDetails.year}} </span>
                </p>
                <p>
                  <strong>Language: </strong>
                  <span>{{movieDetails.language}} </span>
                </p>
                <p>
                  <strong>subtitles: </strong>
                  <span>
                    <a (click)="opensubtitle(movieDetails.imdb_code)">Here</a>
                  </span>
                </p>
                <p>
                  <strong>trailer: </strong>
                  <span>
                    <a  (click)="openTrailer(movieDetails.yt_trailer_code)"> Watch </a>
                  </span>
                </p>
                <p>
                  <strong>genres: </strong>
                  <span>{{movieDetails.genres}} </span>
                </p>
              </div>
      
              <div class="cat-2">
                <p>
                  <strong>imdb_id: </strong>
                  <span>{{movieDetails.imdb_code}} </span>
                </p>
                <p>
                  <strong>released: </strong>
                  <span>{{movieDetails.date_uploaded}} </span>
                </p>
                <p>
                  <strong>runtime: </strong>
                  <span>{{movieDetails.runtime | duration }} </span>
                </p>
                <p>
                  <strong>rating: </strong>
                  <span>{{movieDetails.rating}}/10 </span>
                </p>
                <p>
                  <strong>MPAA rating: </strong>
                  <span>{{movieDetails.mpa_rating ? movieDetails.mpa_rating : 'N/A'}} </span>
                </p>
                <p>
                  <strong>downloaded: </strong>
                  <span>{{movieDetails.download_count}} </span>
                </p>
      
              </div>
         
            </div> -->
      </mat-tab>
      <mat-tab label="CAST">

      </mat-tab>
    </mat-tab-group>
  </div>
  
  </div>
</mat-card>

  
</div>
    
      <!-- <div class="tabs">
        <h4>Download</h4>
        <mat-tab-group mat-stretch-tabs>
          <div *ngFor="let item of movieDetails.torrents">
            <mat-tab label="{{item.quality}}">
              <div class="tab-content ">
                <div class="cat ">
                  <div class="cat-1 ">
                    <p>
                      <strong>provider: </strong>
                      <span>YTS</span>
                    </p>
                    <p>
                      <strong>filesize: </strong>
                      <span>{{item.size}}</span>
                    </p>
                    <p>
                      <strong>quality: </strong>
                      <span>{{item.quality}} </span>
                    </p>
                  </div>

                  <div class="cat-2 ">
                    <p>
                      <strong>date uploaded: </strong>
                      <span>{{item.date_uploaded}} </span>
                    </p>
                    <p>
                      <strong>seeds: </strong>
                      <span>{{item.seeds}}</span>
                    </p>
                    <p>
                      <strong>peers: </strong>
                      <span>{{item.peers}}</span>
                    </p>
                  </div>
                </div>

                <div class="download">
                  <div class="button">
                    <a class="animated fadeInUp" mat-fab href="{{item.url}}" (click)="openSnackBar(movieDetails.title_long , item.quality )"
                    color="primary">
                      <mat-icon>file_download</mat-icon>
                    </a>
                  </div>
                </div>

              </div>
            </mat-tab>
          </div>


        </mat-tab-group>

      </div> -->
  
