@import "~@angular/material/theming";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/details";
@import "../../../custom-theme.scss ";



    .screenshots {
        display: flex;
        flex-direction: row;

        img {
            width: 50%;
            height: 140px;
            &:last-child {
                margin-left: 5px;
            }
        }
    }
    .tab-content {
        margin: 5px 16px;
        padding: 16px;

        .cat {
            display: grid;
            grid-template-columns: 50% 50%;

        }

    }


    .general {
        margin: 16px;
        padding: 16px 0;
        width: 95%;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;

        border: {
            style: solid;
            width: 0 0 1px 0;
            color: $border-color;
        }
        strong{
          text-transform: capitalize;
        }
        .cat-1 {
            a {
                cursor: pointer;
                color: mat-color($primary);
                &:hover {
                    color: darken($color: mat-color($primary), $amount: 5%);
                    transition: 0.3s;
                }
            }
        }

    }




