
<div id="details-page" >

  <button id="btn-close" (click)="closeDialog()" mat-icon-button><mat-icon >close</mat-icon></button>

  <mat-card  *ngIf="errorState" class="error-card errorHandler">
    <mat-card-content>
       <div >
           <h1>
             An error occured
           </h1>
           <button mat-raised-button color="accent" (click)="showDetails()">RETRY</button>
         </div>
    </mat-card-content>
  </mat-card>

 <!-- show spinner here -->
 <app-spinner *ngIf="loading"></app-spinner>

   <mat-card class="main-card animated fadeInDown" *ngIf="movieDetails">
     <div class="details-container animated fadeInLeft">

       <div class="details-image">
         <mat-card>
           <img class="card-img-top" src="{{imageurl}}{{movieDetails.poster_path}}" alt="image not found">
         </mat-card>
       </div>

       <div class="flex-flow">

         <div class="title-head">
           <h1>{{movieDetails.title|scan:'&'}}</h1> <span class="year">({{movieDetails.release_date | date:"yyyy"}})</span>

           <div class="rating">
             <ng-template #t let-fill="fill">
               <span class="star" [class.full]="fill === 100">
                 <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;

               </span>
             </ng-template>
             <ngb-rating [rate]="movieDetails.vote_average/2" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
             <span class="value">{{movieDetails.vote_average}}</span>
             <span class="small">/10 RATING</span>
             <span class="value">{{movieDetails.vote_count}}</span>
            <span class="small">VOTES</span>
           </div>

           <div class="runtime">
             <mat-icon>query_builder</mat-icon>
             <p>{{movieDetails.runtime |duration}}</p>
           </div>



           <mat-chip-list>
             <mat-chip *ngFor="let item of movieDetails.genres">{{item.name}}</mat-chip>
           </mat-chip-list>

           <div class="download-button">
             <button (click)="openDialog(movieDetails.title,movieDetails.release_date )"  mat-raised-button>DOWNLOAD <mat-icon>file_download</mat-icon> </button>
           </div>
         </div>

       </div>
     </div>

     <mat-card class="properties">

       <mat-tab-group mat-stretch-tabs class="tab-group">
         <mat-tab label="INFO">
           <div class="container">
             <p class="body">
               <strong>Storyline:</strong> {{movieDetails.overview}} </p>
           </div>
         </mat-tab>

         <mat-tab label="SCREENSHOTS" *ngIf="movieDetails.medium_screenshot_image1">
           <div *ngIf="movieDetails.medium_screenshot_image1">
             <mat-card class="screenshots-card">
               <div class="screenshots">
                 <img src="{{movieDetails.medium_screenshot_image1}}" alt="">
                 <img src="{{movieDetails.medium_screenshot_image2}}" alt="">
                 <!-- <img src="{{movieDetails.medium_screenshot_image3}}" alt=""> -->
               </div>
             </mat-card>
           </div>
         </mat-tab>

         <mat-tab  label="MEDIA">
           <div class="general container">

             <div class="cat-1">
               <p >
                   <strong>Website: </strong>
                   <span ><a href="{{movieDetails.homepage}} ">{{movieDetails.homepage | shorten: 25: '...'}}</a> </span>
                 </p>


               <p>
                 <strong>Subtitles: </strong>
                 <span>
                   <a (click)="opensubtitle(movieDetails.imdb_id)">Here</a>
                 </span>
               </p>

               <p>
                   <strong>Released: </strong>
                   <span>{{movieDetails.release_date}} </span>
                 </p>


             </div>

             <div class="cat-2">


               <p>
                 <strong>Status: </strong>
                 <span>{{movieDetails.status}} </span>
               </p>

               <p>
                 <strong>Adult: </strong>
                 <span>{{movieDetails.adult}} </span>
               </p>
               <p>
                <strong>Language: </strong>
                <span>{{movieDetails.original_language}} </span>
              </p>
             </div>

           </div>
         </mat-tab>

         <mat-tab label="COMPANIES" *ngIf="movieDetails.production_companies">
           <div class="container cast">
             <div class="row">



             </div>
           </div>
         </mat-tab>
       </mat-tab-group>

     </mat-card>

   </mat-card>


 </div>

