<div *ngIf="errorState" class="errorHandler">
   <h1>
       An error occured
   </h1>
   <button mat-raised-button color="accent" (click)="showDetails()">RETRY</button>
   </div>
<!-- show spinner here -->
<app-spinner *ngIf="loading"></app-spinner>


<div  class="details-container animated fadeInLeft" *ngIf="details">
    <div class="title">
        <h3 class="">{{details.title}}</h3>
        <p>Released on {{details.release_date}}</p>
    </div>


    <div class="details-image">
        <mat-card>
            <img class="card-img-top" src="{{imageurl}}{{details.poster_path}}" alt="image not found">

        </mat-card>
    </div>

    <div class="storyline">
        <mat-card>
            <p class="body">
                <strong>Storyline:</strong> {{details.overview}} </p>
        </mat-card>
    </div>

    <div class="props">
        <mat-card>
            <mat-card-content>

                <h4>Media info</h4>
                <div class="general">

                    <div class="cat-1">
                        <p>
                            <strong>title: </strong>
                            <span>{{details.original_title}} </span>
                        </p>
                        <p>
                            <strong>year: </strong>
                            <span>{{details.release_date}} </span>
                        </p>
                        <p>
                            <strong>Language: </strong>
                            <span>{{details.original_language}} </span>
                        </p>
                        <p>
                            <strong>subtitles: </strong>
                            <span>
                <a (click)="opensubtitle(details.imdb_id)">Here</a>
              </span>
                        </p>
                        <p>
                            <strong>genres: </strong>
                            <span>{{details.genres.name}} </span>
                        </p>
                    </div>


                    <div class="cat-2">
                        <p>
                            <strong>imdb_id: </strong>
                            <span>{{details.imdb_id}} </span>
                        </p>
                        <p>
                            <strong>runtime: </strong>
                            <span>{{details.runtime | duration}} </span>
                        </p>
                        <p>
                            <strong>rating: </strong>
                            <span>{{details.vote_average}} </span>
                        </p>
                        <p>
                            <strong>MPAA rating: </strong>
                            <span>{{details.mpa_rating ? details.mpa_rating : 'N/A'}} </span>
                        </p>
                               

                     </div>
                </div>



                <div class="tabs">
                    <div class="">
                        <h4>Download</h4>
                    </div>
                    <button class="dwlod" mat-raised-button (click)="showMovies(details.title)"> {{Loop}} </button>
                    <div class="clearfix"></div>
                    <div class="" data-simplebar data-simplebar-auto-hide="false"  class="files">
                        <app-spinner *ngIf="Moviesloading"></app-spinner>
                        <mat-nav-list *ngFor="let item of movies | truthify">
                            <mat-list-item class="animated bounceInRight">
                                <a class="trucn" matTooltip="{{item.provider}} || {{item.time}}" matLine 
                                >{{item.title}}</a>
                                <span>{{item.size}}</span>
                                <a mat-icon-button (click)="download(item)" class="series-link">
                                    <mat-icon matTooltip="Seeds: {{item.seeds}} || Peers: {{item.peers}}" color="primary">file_download</mat-icon>
                                </a>
                            </mat-list-item>
                            <mat-divider [inset]="true"></mat-divider>
                        </mat-nav-list>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>


    </div>


</div>
<app-quote></app-quote>
<!-- magnet:?xt=urn:btih:{{item.hash}}&dn=Rampage+%28
magnet:?xt=urn:btih:{{item.hash}}&dn=Pacific+Rim%3A+Uprising+%28
magnet:?xt=urn:btih:{{item.hash}}&dn=Pacific+Rim%3A+Uprising+%28
magnet:?xt=urn:btih:{{item.hash}}&dn=Rampage+%28 -->
