@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/searchbar";
@import "../../scss/table-data";
@import "~@angular/material/theming";

mat-icon {
  margin-right: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 90%;
}


mat-tab-group {
  overflow: hidden;
}


container-fluid {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
