
@import "~@angular/material/theming";
@import "../../../custom-theme.scss ";
@import "./mixins.scss";

$image-width : 14rem;
$min-image-width: 10rem;

#btn-close{
  position: absolute;
  top: 0;
  right: 0;
}
.error-card{
  width: 450px;
  margin: auto;
  padding: 30px;
}

#details-page{
    margin: 0;
  // background-color: rgb(66, 65, 65);
   //  background-image: url("./../../assets/default.png");
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 130px 20px 560px 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    
    //  background-size: cover;
    //  background: fixed;
    
    &::before{
      content: '';
      width: 100%;
      background: inherit;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.555);
      position: absolute;
      border-radius: 5px;
      // filter: blur(30px);
  }
}

.details-container {
  //   position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: auto auto;
    flex-wrap: initial;
   // width: 100%;

    .details-image {
        width: $image-width;
       // max-width: $min-image-width;
        mat-card {
            @include mat-elevation(8);
            position: relative;
            top: -100px;
            width: inherit;
            padding: 0;

            img {
                height: inherit;
                border-radius: inherit;
                width: inherit;
            }
        }

    }
    .flex-flow{
        width: 100%;
        margin-left: 20px;

        @media (min-width: 960px) {
          mat-tab-group{
            width: 600px;
          }
        }
      }


    }


    .title-head{
      h1{
        display: inline;
      }


    .year{
      font-size: medium;
      display: inline;
      padding-bottom: 20px;
      margin-left: 5px;
    //  position: relative;
      top: -4px;

    }
    .rating{
      .star {
        position: relative;
        display: inline-block;
        font-size: 1.8rem;
        color: #d3d3d3;
      }

      .full {
        color: mat-color($accent);
      }

      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: mat-color($accent);
      }

      .value{
        font-size: 1.4rem;
        margin-left: 4px;
      }
    }

    .runtime{
      display: flex;

      p{
        display: inline;
        margin-left: 3px;
      }
    }
    .download-button{
      margin-top: 25px;

      button{
        margin-right: 20px;
        z-index: 1000;
      }

      mat-icon{
        opacity: 0.7;
      }
    }
  }

  .properties{
    padding-top: 0;
   // position: relative;
    top: -80px;
    min-height: 230px;

    .tab-group{
      padding-top: 8px;
      overflow-x: hidden;
    }
    .container{
      margin-top: 10px;
    }

  }
