@import "~@angular/material/theming";
@import "../../../custom-theme.scss ";
@import "./mixins.scss";



#btn-close {
    position: absolute;
    top: 0;
    right: 0;
}
.row{
  width: 100%;
}
.error-card {
    width: 450px;
    margin: auto;
    padding: 30px;
}
  /* rating stars */
.content.col {

    .rating {
        .star {
            position: relative;
            display: inline-block;
            font-size: 1.7rem;
            color: #d3d3d3;
        }
        .full {
            color: mat-color($accent);
        }
        .half {
            position: absolute;
            display: inline-block;
            overflow: hidden;
            color: mat-color($accent);
        }
        .value {
            font-size: 1.3rem;
            margin-left: 4px;
        }
    }
}

div.cover {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  img{
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      filter: blur(4px);
      opacity: 0.9;

  }
}

.container-0 {
  margin: 20px auto;

  .row.details {
      height: auto;
      position: absolute;
      top: 80px;
      margin-bottom: 20px;


      .content {
          align-self: center;
          padding: 0;
          div {
              margin-top: 10px;

          }

      }
  }
}

@media only screen and (max-width: 944px) {}
