@import "~@angular/material/theming";
@import "../../custom-theme";
@import "../../assets/animate";

.head{
    mat-icon {
        margin-right: 5px;
    }

    input{
        margin-right: 5px;
    }

        mat-icon {
            &:hover {
                color: mat-color($primary);
                cursor: pointer !important;
            }
        }

        mat-form-field {
           width: 12rem;
           padding-top: 10px;


          }


    .spacer{
        flex: 1 1 auto;
    }

    h4.lead{
        margin-top: 15px;
        margin-left: 5px;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: fadeInLeft;

    }
}

div.title.head{
    display: flex;
}
mat-divider{
  position: relative;
  top: -13px;
}
