
@import "~@angular/material/theming";
@import "../../../custom-theme.scss";


.dft-container{
    margin: {
        left: auto;
        right: auto;
    }
}
table {
  width: 90%;
    td {
        cursor: default;
    }
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    text-align: center;
}

.cdk-column-title.mat-column-title {
    text-align: left;
}

h4.lead {
    font-size: 2rem;
}

.wrapper {
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.container-fluid {
    padding-top: 1rem;
}
.btn-container{
    width: 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;

    .btn-refresh{
        margin: auto;
        display: flex;
    }
}


table {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 90%;
    margin: auto;

    mat-icon{
        color: inherit;
        opacity: 0.7;
    }
}

th,
td {
    text-align: center;

    mat-icon {
        color: inherit;
    }
}

thead{
    border-bottom:1px solid darken($border-color, 10%);
}

td.align {
    text-align: left;
}

app-spinner {
    width: 100%;
    margin: auto;
}

.mat-elevation-z2,
.mat-elevation-z3,
.mat-elevation-z4,
.mat-elevation-z5 {
    border-radius: 6px;
}

table button{
    margin: auto !important;
    transition: all 0.4s ease-in-out;

    mat-icon{
       margin: auto;
    }

    &:hover{
        color: mat-color($accent);
        background-color: #f5005726;

        mat-icon{
          color: mat-color($accent);
        }
    }
}

.table-title{
  width: 300px;
  margin-bottom: 3px;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
