<div class="custom-container">

  <div class="title head">
    <div class="nun">
      <h4 class="lead ">
        TV SHOWS
      </h4>
    </div>

    <div class="spacer"></div>
    <mat-form-field>
      <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
      <mat-icon class="animated infinite delay-4s" *ngIf="!input.value" matSuffix (click)="search(input)">search
      </mat-icon>
      <mat-icon class="animated infinite delay-4s" *ngIf="input.value" matSuffix (click)="input.value=''">close
      </mat-icon>
    </mat-form-field>
  </div>
</div>
<mat-divider>
</mat-divider>


<div class="">


  <div *ngIf="errorState" class="errorHandler">
    <h1>
      An error occured
    </h1>
    <button mat-raised-button color="accent" (click)=" Retry()">RETRY</button>
  </div>

  <app-spinner *ngIf="showsLoading"></app-spinner>

  <div class="main-tab-container">


    <div class="card-container" *ngFor="let show of Shows ">
      <div *ngIf="!showsLoading">
        <mat-card (click)="openDialog(show.imdb_id)" class=" animated bounceInUp">
          <div class="img-box">
            <img mat-card-image class="card-image" onerror="this.src='../../../assets/themoviedb.svg'" src="{{show.images.poster}}" alt="{{show.title}} ">
          </div>
          <div class="icon">
            <span>{{show.rating.percentage/10       }}</span>
          </div>
          <div class="content">
            <p class="animated fadeInDown ">{{show.title|scan:'&'}}</p>
            <p class="animated fadeInDown ">{{show.year}}</p>
          </div>
        </mat-card>
      </div>
    </div>

  </div>

  <div class="home">
    <button mat-raised-button color="primary" *ngIf="home" (click)="Retry()" class="home animated fadeInUp">HOME
      <mat-icon>home</mat-icon></button>
  </div>

  <div class="container" *ngIf="pagination">
    <div id="pagination">
      <mat-paginator showFirstLastButtons [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="Page($event)">
      </mat-paginator>
    </div>
  </div>
  <div class="margier"></div>

</div>
<app-quote *ngIf="errorState"></app-quote>
