@import "../../scss/variables";
@import "../../scss/mixins";
@import "~@angular/material/theming";
@import "../../../custom-theme.scss";
@import "../../scss/table-data";


.searchPage {
    .flex-container {
        display: flex;
        justify-content: center;

    }
    .toolbar {
        margin-bottom: 30px;
        mat-icon {
            &:hover {
                cursor: pointer;
                color:  mat-color($primary);
            }
        }

        mat-card {
            padding: 8px;
            width: 90%;
            margin: 1rem auto;
        }

        mat-form-field {
            padding: 1.25em 1.25em 1em 1.25em;
            width: 15rem;
        }

        mat-form-field.select{
          width: 7rem;
        }
    }

}

