<!-- <div class='searchPage'>

    <div class='toolbar'>
        <mat-card class='flex-container animated bounceInDown'>

            <mat-form-field>
                <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
                <mat-icon [ngClass]="{'bounce' : !input.value}" class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search </mat-icon>

            </mat-form-field>
        </mat-card>
    </div>

    <ngb-tabset class="animated fadeInUp" destroyOnHide="false" justify="center">
        <ngb-tab *ngIf="moviesResults || input.value">
            <ng-template ngbTabTitle>

                <span class="tab-head">Movies</span>
                <span>{{moviesReturned}}</span>
            </ng-template>

            <ng-template ngbTabContent>


                <div class="results-field">

                    <div class="alert alert-warning animated bounceInDown" [hidden]="isHidden" role="alert">
                        <button (click)="hideAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span (click)="hideAlert()" aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
                        <p>This field only contains Blu-Ray HD Movies, Click the button below for others</p>
                        <button class="btn btn-outline-warning" (click)="goToOtherPage()">Here</button>
                    </div>

                    <app-spinner *ngIf="loadingMovies"></app-spinner>

                    <div class="main-tab-container">
                        <div class="card-container" *ngFor="let item of moviesResults | async as items;let i = index; first as isfirst">
                            <mat-card class="card animated bounceInDown">
                                <img (click)="onSelectMovie(item)" mat-card-image class="card-image" src="{{item.large_cover_image}}" alt="{{ item.title }} ">
                            </mat-card>
                            <p (click)="onSelectMovie(item)" class="animated bounceInDown">
                                {{item.title}}</p>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-tab>


        <ngb-tab *ngIf="showsResults || input.value">
            <ng-template ngbTabTitle>

                <span class="tab-head">TV shows</span>
            </ng-template>

            <ng-template ngbTabContent>
                <div class="results-field">

                    <app-spinner *ngIf="loadingShows"></app-spinner>

                    <div class="main-tab-container">

                        <div class="card-container" *ngFor="let item of showsResults | async;let i = index; last as islast">
                            <mat-card class="card animated bounceInDown">
                                <img (click)="onSelectShow(item)" mat-card-image class="card-image" src="{{item.images.poster}}" alt="{{ item.title }} ">
                            </mat-card>
                            <p (click)="onSelectShow(item)">{{item.title}}</p>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-tab>


    </ngb-tabset>


</div>
<div>

</div> -->
