@import "~@angular/material/theming";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../custom-theme.scss";

mat-sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
}

// a.indent{
//   margin-left: 1.8rem;
// }
mat-toolbar {
    z-index: 9;
}

mat-nav-list {

    mat-icon,
    fa-icon {
        margin-right: 8px;
        color: inherit;
        opacity: 0.7;
    }

    .active {
        border-left: 4px solid mat-color($accent);
        transition: 0.3s ease-out;
        mat-icon,
        fa-icon {
            margin-right: 8px;
            color: mat-color($primary);
            opacity: 1;
        }

    }

    a {
        &:hover {
            @include mat-elevation(2);
            border-left: 2px solid mat-color($primary);
            transition: 0.3s ease-out;
            background-color: transparentize(mat-color($primary), 0.8);

            mat-icon, fa-icon {
                margin-right: 8px;
                color: mat-color($primary);
                opacity: 1;
            }

        }
    }
}

mat-sidenav-content, .mat-drawer-inner-container {
    height: 100vh;
    margin-right: 3px;

    &::-webkit-scrollbar{
      width: 6px;
      margin: 0;
      padding: 0;

    }
    &::-webkit-scrollbar-thumb{
      background-color: transparentize($color: mat-color($primary), $amount: 0.6);
      border-radius: 6px;
      transition: all 0.5s linear;

      &:hover{
        background-color: mat-color($primary);
        transition: all 0.5s linear;
      }

    }
    &::-webkit-scrollbar-track{
      background-color: rgba(0, 0, 0, 0.04);
      margin: 5px 0;
      border-radius: 6px;

    }

}

.example-spacer {
  flex: 1 1 auto;
}


  button.menu-toggler{
  position: fixed;
  top: 45px;
  left: 5px;
  padding: 0;
  margin: 0;
  z-index: 99;
  color: mat-color($primary);

  mat-icon{
    font-size: 27px;
  }

  &:hover{
    color: mat-color($accent);
      transition: color 0.3s ease-out;
    }
  }

  // .show{
  //   position: ;
  //   top: 0px;
  // }

  .mat-drawer {
    padding-top: 24px;
  }


