<mat-sidenav-container [class.darkTheme]="darkTheme">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <!-- [opened]="!(isHandset$ | async)" -->
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/trending']" routerLinkActive="active">
                <mat-icon>new_releases</mat-icon> Trending</a>
                <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/movies']" routerLinkActive="active" class="indent">
                <mat-icon>high_quality</mat-icon>HD Movies</a>
            <a mat-list-item [routerLink]="['/shows']" routerLinkActive="active" class="indent">
                <mat-icon>live_tv</mat-icon> TV Shows</a>
            <a mat-list-item [routerLink]="['/animes']" routerLinkActive="active" class="indent">
                <mat-icon>local_movies
                </mat-icon> Amime</a>
            <!-- <a mat-list-item [routerLink]="['/search']" routerLinkActive="active">
                <mat-icon>search</mat-icon> Search</a> -->
            <mat-divider></mat-divider>

            <a mat-list-item [routerLink]="['/games']" routerLinkActive="active" class="">
                <mat-icon>gamepad</mat-icon> Games </a>
            <a mat-list-item [routerLink]="['/softwares']" routerLinkActive="active" class="indent">
                <mat-icon>apps</mat-icon> Softwares</a>
            <a mat-list-item [routerLink]="['/musics']" routerLinkActive="active" class="indent">
                <mat-icon>library_music</mat-icon> Musics </a>
            <a mat-list-item [routerLink]="['/books']" routerLinkActive="active" class="indent">
                <mat-icon>library_books</mat-icon> Books </a>

            <mat-divider></mat-divider>

            <a mat-list-item (click)="showLink()" routerLinkActive="active">
                <mat-icon>thumb_up_alt</mat-icon> Like Us</a>
            <a mat-list-item [routerLink]="['/about']" routerLinkActive="active">
                <mat-icon>info</mat-icon> About </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
        <!-- <mat-toolbar color="primary" >
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Loop Client</span>
            <span class="example-spacer"></span>
           <mat-slide-toggle (change)="change()" >Switch Theme</mat-slide-toggle>
        </mat-toolbar> -->
        <!-- Add Content Here -->
        <router-outlet>

        </router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
