@import "~@angular/material/theming";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../custom-theme.scss ";

mat-sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
}

// a.indent{
//   margin-left: 1.8rem;
// }
mat-toolbar {
    z-index: 9;
}

mat-nav-list {

    mat-icon,
    fa-icon {
        margin-right: 8px;
        color: inherit;
        opacity: 0.7;
    }

    .active {
        border-left: 4px solid mat-color($primary);
        transition: 0.3s ease-out;
        mat-icon,
        fa-icon {
            margin-right: 8px;
            color: mat-color($primary);
            opacity: 1;
        }

    }

    a {
        &:hover {
            border-left: 2px solid mat-color($primary);
            transition: 0.3s ease-out;
            background-color: lighten(mat-color($primary), 50%);
            mat-icon,
            fa-icon {
                margin-right: 8px;
                color: mat-color($primary);
                opacity: 1;
            }

        }
    }
}

mat-sidenav-content {
    height: 100vh;
}
.example-spacer {
  flex: 1 1 auto;
}
