@import "~@angular/material/theming";
@import "../../../custom-theme.scss";
@import "../../scss/variables";


    .download {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            @include mat-elevation(2);
            margin-bottom: 8px;
            &:hover {
                @include mat-elevation-transition;
                @include mat-elevation(8);
            }
            &:active {
                @include mat-elevation(8);
            }
        }
    }


    h4 {
        text-align: center;

    }


.trucn {
    width: 97%;
}

mat-list-item {
    padding-right: 0;
    padding-left: 0;
    span {
        width: 100px;
    }
}

.errorHandler{
  text-align: center;
  margin: auto auto;

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
