@import "~@angular/material/theming";
@import "../../../custom-theme";
@import "../../scss/variables";
@import "../../scss/details";

.main-card{
  height: 530px;
  max-height: 550px;
 // margin-bottom: 30px;
}
#details-page{
  background-image: url('https://www.hbo.com/content/dam/hbodata/series/game-of-thrones/episodes/1/game-of-thrones-1-1920x1080.jpg/_jcr_content/renditions/cq5dam.web.1200.675.jpeg');
  padding: 100px 20px 550px 20px;
}

.screenshots {
  display: flex;
  flex-direction: row;

  img {
      width: 50%;
      height: 140px;
      &:last-child {
          margin-left: 5px;
      }
  }
}
.tab-content {
  margin: 5px 16px;
  padding: 16px;

  .cat {
      display: grid;
      grid-template-columns: 50% 50%;

  }

}
.general {
  margin: 16px;
  padding: 16px 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;

  strong{
    text-transform: capitalize;
  }
  .cat-1 {
      a {
          cursor: pointer;
          color: mat-color($primary);
          &:hover {
              color: darken($color: mat-color($primary), $amount: 5%);
              transition: 0.3s;
          }
      }
  }

}

.errorHandler{
  margin-top: 30px;
}
.report_problem{
  text-align: center;
  margin: 30px auto;


  mat-icon{
    opacity: 0.7;
  }
}
