@import "~@angular/material/theming";
@import "../../../custom-theme";
@import "../../scss/variables";


    h4 {
        text-align: center;

    }
    .left{
      float: right;
      margin-right: 35px;

      span{
        margin: 3px 10px;

      }

    }


.errorHandler{
  text-align: center;
  margin: auto auto;

}
    .download {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            @include mat-elevation(2);
            margin-bottom: 8px;
            &:hover {
                @include mat-elevation-transition;
                @include mat-elevation(8);
            }
            &:active {
                @include mat-elevation(8);
            }
        }
    }


    h4 {
        text-align: center;
    }

    mat-nav-list{
        margin-bottom: 5px;
    }

mat-list-item {
    padding-right: 0;
    padding-left: 0;

    &:hover{
        background: none !important;
        @include mat-elevation(2);
        @include mat-elevation-transition;
        cursor: default;

    }

    mat-icon{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.hide{
            visibility: hidden;
        }

        &:hover{
            border-radius: 50%;
            background-color: #eee;
            transition: 0.2s ease-out;
        }
    }

    .series-link{
        width: 40px !important;
        max-width: 40px !important;
        height: 40px;
        margin: 2px 8px;
        cursor: default;
    }
}

.errorHandler{
  text-align: center;
  margin: 30px auto;

}

.fade{
  opacity: 0.8;
}


