<div class="tool-bar">
  <mat-card class='flex-container animated bounceInDown'>
    <!-- [formControl]="searchField" -->
    <mat-form-field>
      <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
      <mat-icon [ngClass]="{'bounce' : !input.value }" class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search </mat-icon>
    </mat-form-field>
  </mat-card>
</div>

<ngb-tabset  class="animated fadeInUp" justify="center">
  <ngb-tab *ngIf="movieResults || input.value ">
    <ng-template ngbTabTitle>
      <!-- <mat-icon class="example-tab-icon"></mat-icon> -->
      <span class="tab-head">Movies</span>
    </ng-template>


    <ng-template ngbTabContent>
      <app-spinner *ngIf="movieLoading"></app-spinner>
      <div class="results-field">

        <div class="main-tab-container">

          <div class="card-container" *ngFor="let item of movieResults | async as items">
            <mat-card class="animated bounceInUp ">
              <img (click)="onSelectMovie(item)" mat-card-image src="{{imageurl}}{{item.poster_path}}" alt="{{item.title}}">
            </mat-card>
            <p (click)="onSelectMovie(item)" class="animated fadeInDown delay-0.5s">
              {{item.title}} </p>
          </div>
        </div>
      </div>

    </ng-template>

  </ngb-tab>

  <ngb-tab *ngIf="showResults || input.value">
    <ng-template ngbTabTitle>
      <!-- <mat-icon class="example-tab-icon"></mat-icon> -->
      <span class="tab-head">Tv shows</span>
    </ng-template>


    <ng-template ngbTabContent >
      <app-spinner *ngIf="showLoading"></app-spinner>
      <div class="results-field">

        <div class="main-tab-container">

          <div class="card-container" *ngFor="let item of showResults | async as items">
            <mat-card class="animated bounceInUp ">
              <img (click)="onSelectShow(item)" mat-card-image src="{{imageurl}}{{item.poster_path}}" alt="{{item.title}}">
            </mat-card>
            <p (click)="onSelectShow(item)" class="animated fadeInDown delay-0.5s">
              {{ item.name}} </p>
          </div>
        </div>
      </div>
    </ng-template>

  </ngb-tab>
</ngb-tabset>


