<div class="main-grid custom-container">
  <div class="title head">
    <div class="nun">
      <h4 class="lead ">
        Trending Movies
      </h4>
    </div>
    <div class="spacer"></div>
    <mat-form-field>
      <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
      <mat-icon class="animated infinite delay-4s" matSuffix (click)="search(input.value)">search </mat-icon>
    </mat-form-field>
  </div>
</div>
<mat-divider>
</mat-divider>


<div class="wrapper container-fluid">

  <div class="main-tab-container">



    <div class="cont" >
    <div class="spinner" id="spinner" *ngIf="loading"></div>

    <div *ngIf="errorState" class="errorHandler">
      <h1>
        An error occured
      </h1>
      <button mat-raised-button color="accent" (click)="retry()">RETRY</button>
    </div>

      <div class="card-container"  *ngFor="let item of upcomingMovies">
        <mat-card *ngIf="!loading" (click)="openDialog(item.id)" class="animated bounceInRight">
          <img  mat-card-image src="{{imageurl}}{{item.poster_path}}" alt="{{ item.title }} ">
        </mat-card>
        <p *ngIf="!loading" (click)="openDialog(item.id)" class="animated fadeInDown ">
          {{item.title}}</p>
        </div>
      </div>
  </div>

  <div class="container">
    <div id="pagination">
      <mat-paginator [length]="lenght" showFirstLastButtons [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="Page($event , 'New Movies')">
      </mat-paginator>
    </div>
  </div>

  <div class="clearfix"></div>

</div>
