<div class="custom-container">
  <div class="title head">
    <div class="nun">
      <h4 class="lead">
        HD Movies
      </h4>
    </div>
    <div class="spacer"></div>

    <mat-form-field>
      <input #input (keyup.enter)="search(input.value)" matInput placeholder='Enter a Keyword' type='text'>
      <mat-icon class="animated infinite delay-4s" *ngIf="!input.value" matSuffix (click)="search(input)">search </mat-icon>
      <mat-icon class="animated infinite delay-4s" *ngIf="input.value" matSuffix (click)="input.value=''">close </mat-icon>

    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>

<div>

  <div class=" full-screen">

    <div *ngIf="errorState" class="errorHandler">
      <h1>
        An error occured
      </h1>
      <button mat-raised-button color="accent" (click)="RETRY()">RETRY</button>
    </div>

    <app-spinner *ngIf="moviesLoading"></app-spinner>


    <div class="main-tab-container" id="top">


      <div class="card-container" *ngFor="let item of Movies ">
       <div *ngIf="!moviesLoading">
          <mat-card (click)="openDialog(item.id)" class=" animated bounceInUp">
              <div class="img-box">
                <img  mat-card-image  src="{{item.large_cover_image}}" class="card-image" alt="">
              </div>
              <div class="icon">
                  <span>{{item.rating}}</span>
              </div>
              <div class="content">
                <p class=" title ">{{item.title|scan:'&'}}</p>
                <p class=" year ">{{item.year}}</p>
              </div>
            </mat-card>
       </div>
      </div>

  </div>

    <div *ngIf="home" class="home">
      <button mat-raised-button color="primary"  (click)="RETRY()" class="home animated fadeInUp">HOME <mat-icon>home</mat-icon></button>
    </div>


    <div class="container" *ngIf="pagination">
      <div id="pagination">
        <mat-paginator showFirstLastButtons [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
          [pageSizeOptions]="pageSizeOptions" (page)="paginate($event)">
        </mat-paginator>
      </div>
    </div>

      <div class="margier"></div>
  </div>
</div>
<app-quote *ngIf="errorState"></app-quote>
