/* You can add global styles to this file, and also import other style files */

@import "./app/scss/variables";
@import "./app/scss/mixins";
@import "~@angular/material/theming";
@import "./custom-theme";

/* css reboot */
a {
  text-decoration: none;
}

p {
  -webkit-font-smoothing: antialiased;
  font-size: 1.02rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03225em;
}

h4.lead {
  font-size: 2rem;
}

.trucn {
  text-overflow: ellipsis;
}

strong {
  @extend p;
  font-size: 1.015rem;

}

.tab-head {
  -webkit-font-smoothing: antialiased;
  font-size: 1.2rem;
  letter-spacing: .04125em;
}

.nav-tabs .nav-link {
  width: 10rem;
  text-align: center;

}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-top-width: 1.5px !important;
  border-top-color: mat-color($primary) !important;
  transition: 0.1s ease-out;
}


/* .simplebar-scrollbar:before {
  background: mat-color($primary) !important;
}

.simplebar-track.horizontal {
  visibility: hidden !important;
  display: none !important;
}

.simplebar-track .horizontal {
  visibility: hidden !important;
  display: none !important;
}

.simplebar-content {
  margin-right: -8px !important;
}

[data-simplebar=init] .simplebar-content,
[data-simplebar=init] .simplebar-scroll-content {
  overflow: hidden !important;
} */


/* Error box */
.errorHandler {
  text-align: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;

  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: monospace;
  }

}

// mat-card.errorHandler {
//   background-color: rgba(255, 255, 255, .3) !important;
// }


.margier {
  margin: 50px;
}

.full-screen {
  height: 100% !important;
}


/* doted spinners */
#spinner.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: mat-color($accent);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}


/* dialogs */
// .mat-dialog-container {
//   border-radius: 3px;
// }

/* download dialog only */
.shows-download-dialog,
.other-download-dialog {
  padding: 30px 0 10px 0;

  .mat-dialog-container {
    padding-top: 13px;

    .cont {
      width: 100%;
    }

    .btn-close {
      float: right;
      top: -10px;
      right: -20px;

    }

    mat-dialog-content {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: rgba(255, 255, 255, 0);
        margin: 0;
        padding: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparentize(mat-color($primary), 0.6);
        border-radius: 6px;

        &:hover {
          background-color: mat-color($primary);
          transition: all 0.5s ease-in-out;
        }

      }

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0);
        width: 6px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.movie-download-dialog,
.login-dialog {
  padding: 30px 0 10px 0;

  .mat-dialog-container {
    overflow: hidden;
    margin-bottom: 0;

    // padding: {
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    // }
  }

}

.other-download-dialog {
  mat-dialog-content {
    max-height: 77vh;

  }
}


/* details dialog */
.Download-dialog {
  padding: 30px 0 10px 0;
  max-width: 100vw !important;

  .mat-dialog-container {
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 6px;
      margin: 0;
      padding: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparentize(mat-color($primary), 0.6);
      border-radius: 6px;

      &:hover {
        background-color: mat-color($primary);
        transition: all 0.5s ease-in-out;
      }

    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
      margin: 8px 0;
    }

  }
}

.cdk-overlay-pane {
  span {
    width: 100%;
    margin: auto;
    text-align: center !important;
  }
}

.custom-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.login-dialog .mat-dialog-container,
.details-page .mat-dialog-container {
  padding: 0px;


  mat-tab-group {
    height: 100%;
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }
}


/* close btns on download dialogs */
.btn-close,
#btn-close {
  color: mat-color($primary);
  border-radius: 50%;

  &:hover {
    background-color: transparentize(mat-color($primary), 0.8);
    transition: 0.4s ease-in-out;

    mat-icon {
      color: mat-color($accent);
    }
  }

}

.snackbar {
  text-align: center;
  text-transform: capitalize;
}

.mat-chip-list-wrapper {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

/* styling custom title bar */
.titlebar.windows,
.titlebar.linux {
  z-index: 999999;
}

/* // animations */
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
