@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/searchbar";
@import "../../scss/table-data";

mat-icon {
    margin-right: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

mat-tab-group {
    overflow: hidden;
}


